<section class="store-all">
    <div class="container">
        <div class="col-12">
            <div class="store-top">
                <h1 class="my-3 store-welcome">Xoş gəlmisiniz...</h1>
                <hr>
                <div class="store-logo">
                    <img src="~/Img/bellona.svg" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="store-advert-all">
                <div class="top-advert-all">
                    <h2 class="best-adver">Elanlarınız <p class="sfull">17</p></h2>
                    <a href="NewAdv.html" class="new-adv">Elan Yerləşdir</a>

                </div>
                <div class="adver-table">
                    <div class="col-12">
                        <div class="fula">
                            <table style="width:100%">
                                <tr class="boss">
                                    <th>#</th>
                                    <th>Elan şəkli</th>
                                    <th>Elan adı</th>
                                    <th>Kateqoriya</th>
                                    <th>Qiymət</th>
                                    <th>Tarix</th>


                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td><img src="~/Img/Altura-Furniture-Kemizo-1-dOGb.jpg" alt=""></td>
                                    <td>Yataq dəsti</td>
                                    <td>Yataq</td>
                                    <td>150 AZN</td>
                                    <td>15.05.2021</td>
                                    <td style="width: 15%;">
                                        <button class="goto"><i class="fas fa-sign-in-alt"></i></button>
                                        <button class="edit"><i class="fas fa-edit"></i></button>
                                        <button class="trash"><i class="fas fa-trash-alt"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td><img src="~/Img/6458135797064a23e2f905a56e3f0586.jpg" alt=""></td>
                                    <td>Yataq dəsti</td>
                                    <td>Yataq</td>
                                    <td>150 AZN</td>
                                    <td>15.05.2021</td>
                                    <td>
                                        <button class="goto"><i class="fas fa-sign-in-alt"></i></button>
                                        <button class="edit"><i class="fas fa-edit"></i></button>
                                        <button class="trash"><i class="fas fa-trash-alt"></i></button>

                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td><img src="~/Img/endirim.jpg" alt=""></td>
                                    <td>Yataq dəsti</td>
                                    <td>Yataq</td>
                                    <td>150 AZN</td>
                                    <td>15.05.2021</td>
                                    <td>
                                        <button class="goto"><i class="fas fa-sign-in-alt"></i></button>

                                        <button class="edit"><i class="fas fa-edit"></i></button>
                                        <button class="trash"><i class="fas fa-trash-alt"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td><img src="~/Img/6458135797064a23e2f905a56e3f0586.jpg" alt=""></td>
                                    <td>Yataq dəsti</td>
                                    <td>Yataq</td>
                                    <td>150 AZN</td>
                                    <td>15.05.2021</td>
                                    <td>
                                        <button class="goto"><i class="fas fa-sign-in-alt"></i></button>

                                        <button class="edit"><i class="fas fa-edit"></i></button>
                                        <button class="trash"><i class="fas fa-trash-alt"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td><img src="~/Img/1515770245Gray_traditional_bedroom_furniture.jpg" alt=""></td>
                                    <td>Yataq dəsti</td>
                                    <td>Yataq</td>
                                    <td>150 AZN</td>
                                    <td>15.05.2021</td>
                                    <td>
                                        <button class="goto"><i class="fas fa-sign-in-alt"></i></button>

                                        <button class="edit"><i class="fas fa-edit"></i></button>
                                        <button class="trash"><i class="fas fa-trash-alt"></i></button>
                                    </td>
                                </tr>
                            </table>
                            <button class="load-adver">Daha çox</button>

                        </div>


                    </div>

                </div>
            </div>




        </div>
    </div>

</section>